body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3; /* Darker background color */
    background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/tactile_noise.png'); /* link to external pattern */
    background-repeat: repeat; /* Repeat the pattern */
}

.container {
    max-width: 800px;
    margin: 20px auto; /* Added margin to center the container vertically */
    padding: 20px;
    background-color: rgba(59, 59, 59, 0.9); /* Semi-transparent background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

h1 {
    color: #fff; /* White text color */
}

input {
    width: 97%; /* Changed width to 100% for better responsiveness */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none; /* Prevent input area from being resized */
}

.meter-container {
    width: 100%; /* Changed width to 100% for better responsiveness */
    margin: 0 auto;
}

.meter {
    width: 100%;
    height: 30px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.meter-fill {
    width: calc(var(--meter-value) * 1%);
    height: 100%;
    background-color: #505050;
    transition: width 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.analysis-item {
    /* Add your styles here */
    font-weight: bold;
    color: white;
}