body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3; /* Darker background color */
    background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/tactile_noise.png'); /* link to external pattern */
    background-repeat: repeat; /* Repeat the pattern */
}

.container {
    
    max-width: 1200px; /* Adjust the max-width as needed */
    margin: 50px auto; /* Center the container vertically and horizontally */
    padding: 20px;
    background-color: #555; /* Darker grey container background color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow to the container */
}

h1 {
    text-align: center; /* Center the heading */
    color: #fff;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="password"] {
    width: calc(100% - 42px); /* Make the input field fill the container width */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #777; /* Grey border */
    border-radius: 5px;
    background-color: #444; /* Darker grey background color */
    color: white; /* Text color */
}

button {
    width: calc(100% - 20px); /* Make the button fill the container width */
    padding: 10px;
    border: 1px solid #777; /* Grey border */
    border-radius: 5px;
    background-color: #4CAF50; /* Green button color */
    color: white; /* Text color */
    cursor: pointer;
}

