<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-time Text Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- This grabs the CSS stylesheet from the Static folder -->
</head>
<body>
    <div class="container">
        <h1>Real-time Text Analysis</h1>
        <textarea id="input_text" rows="1" cols="1"></textarea> <!-- Text Area where password will be written -->
        <div id="analysis_result"></div> 
    </div>

    <script>
        var inputText = document.getElementById('input_text'); // defines the input field as a variable
        var analysisResult = document.getElementById('analysis_result'); // defines the (div id="analysis_result") as a variable will be used later to write results into.

        inputText.addEventListener('input', function() {
            var text = inputText.value;
            fetch('/analyze', {   // This will post the password to the python logic in app.py
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'input_text=' + encodeURIComponent(text)
            })  
            .then(response => response.json()) // expects the response from the backend to be in json format
            .then(data => {
                analysisResult.innerHTML = '';  // Clear previous results
                for (var key in data.result) {  // Will Iterate the json response and create paragraphs below the text field with this information.
                    if (data.result.hasOwnProperty(key)) {
                        var value = data.result[key];
                        var listItem = document.createElement('p');
                        listItem.textContent = key + ': ' + value;
                        analysisResult.appendChild(listItem);
                    }
                }
            })
            .catch(error => {
                console.error('Error:', error); 
            });
        });
    </script>
</body>
</html>
