<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"><!-- Include this to make sure certain icons render properly -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- This grabs the stylesheet that is in the static folder -->
    <title>Password Strength Meter 3000</title>
</head>


<body>
    
    <div class="container">
        <div class="second-container">
            <div>
                <span id="uppercase">Uppercase</span>
            </div>
            <div>
                <span id="lowercase">Lowercase</span>
            </div>
            <div>
                <span id="numbers">Integers</span>
            </div>
            <div>
                <span id="special">Special Characters</span>
            </div>
        </div>
        <h1>Super PSM 3000</h1>
        <div class="input-container">
            <div class="password-input-container">
                <input id="input_text" type="password" placeholder="Enter your password" oninput="checkPasswordStrength(this.value)">
                <span class="password-toggle-icon" onclick="togglePasswordVisibility()">
                    <i class="fas fa-eye"></i>
                </span>
            </div>
            <button id="analyze_button" onclick="analyzePassword()">Analyze</button>
        </div>

        
            <div class="meter-container">
                <div class="progress-circle">
                    <svg class="progress-circle__svg" viewBox="0 0 100 100">
                    <circle class="progress-circle__background" cx="50" cy="50" r="45"></circle>
                    <circle class="progress-circle__progress" cx="50" cy="50" r="45"></circle>
                    <text class="progress-circle__text" x="50" y="50" text-anchor="middle" alignment-baseline="middle"></text>
                    </svg>
                </div>
                </div>
        <div class="info-box-container" id="info-box-container">
        </div>

        <div id="placeholder-box" class="info-box placeholder-box">
            <div class="placeholder-info-box-title">Currently Downloading More RAM</div>
            <div class="placeholder-info-box-message">Installing CPU</div>
        </div>

        

        <div class="loading-overlay" id="loading-overlay">
            <div class="loader"></div>
    </div>

    

    <script>
        
        infoBoxContainer.innerHTML = "";
        
        function togglePasswordVisibility() {
            var passwordField = document.getElementById("input_text");
            var icon = document.querySelector(".password-toggle-icon i");
            if (passwordField.type === "password") {
                passwordField.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                passwordField.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }

        function checkPasswordStrength(password) {
            var uppercaseRegex = /[A-Z]/;
            var lowercaseRegex = /[a-z]/;
            var numberRegex = /[0-9]/;
            var specialRegex = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/;

            var uppercaseDiv = document.getElementById('uppercase');
            var lowercaseDiv = document.getElementById('lowercase');
            var numbersDiv = document.getElementById('numbers');
            var specialDiv = document.getElementById('special');

            uppercaseDiv.style.color = uppercaseRegex.test(password) ? 'green' : 'red';
            lowercaseDiv.style.color = lowercaseRegex.test(password) ? 'green' : 'red';
            numbersDiv.style.color = numberRegex.test(password) ? 'green' : 'red';
            specialDiv.style.color = specialRegex.test(password) ? 'green' : 'red';
        }

        function setProgress(percent) {
        const circle = document.querySelector('.progress-circle__progress');
        const text = document.querySelector('.progress-circle__text');
        const radius = circle.r.baseVal.value;
        const circumference = 2 * Math.PI * radius;
        const offset = circumference - (percent / 100) * circumference;
        circle.style.strokeDashoffset = offset;
        
        const color = getColor(percent);
        circle.style.stroke = color;
        text.textContent = percent + '%';
        text.style.fill = color;
        }

        function getColor(percent) {
        
        const colorIntervals = [
            { start: 0, end: 25, color: '#FF4500' }, 
            { start: 25, end: 50, color: '#FFA500' },
            { start: 50, end: 75, color: '#FFFF00' }, 
            { start: 75, end: 100, color: '#32CD32' } 
        ];

        
        for (const interval of colorIntervals) {
            if (percent >= interval.start && percent <= interval.end) {
            return interval.color;
            }
        }
        }
        
        function positionLoader() {
            var infoBoxContainer = document.getElementById('info-box-container');
            var loader = document.querySelector('.loader');

            
            var containerRect = infoBoxContainer.getBoundingClientRect();
            var loaderWidth = loader.offsetWidth;
            var loaderHeight = loader.offsetHeight;
            var loaderTop = containerRect.top + (containerRect.height / 2) - (loaderHeight / 2);
            var loaderLeft = containerRect.left + (containerRect.width / 2) - (loaderWidth / 2);

            
            loader.style.top = loaderTop + 'px';
            loader.style.left = loaderLeft + 'px';
        }

        function showLoading() {
            positionLoader();
            document.getElementById("loading-overlay").style.display = "block";
        }

        function hideLoading() {
            document.getElementById("loading-overlay").style.display = "none";
            
        }

        function analyzePassword() {
            showLoading();
            var passwordField = document.getElementById("input_text").value;
            var infoBoxContainer = document.getElementById("info-box-container");
            
            fetch('/analyze', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'input_text=' + encodeURIComponent(passwordField),
            })
            .then(response => response.json())
            .then(data => {
                hideLoading();
                infoBoxContainer.innerHTML = "";
                createInfoBoxes(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function createInfoBoxes(data) {
            var container = document.getElementById('info-box-container');
            
            var placeholderBox = document.getElementById('placeholder-box');
            placeholderBox.style.display = 'none'
            
            for (var key in data) {
                
                if (key !== 'Issues Found') {
                    var messages = data[key];
                    if (messages.length > 0) {
                        
                        var infoBox = document.createElement('div');
                        infoBox.classList.add('info-box');

                       
                        var title = document.createElement('div');
                        title.classList.add('info-box-title');
                        title.textContent = key;
                        infoBox.appendChild(title);

                        
                        messages.forEach(function(message) {
                            var messageElement = document.createElement('div');
                            messageElement.classList.add('info-box-message');
                            messageElement.textContent = message;
                            infoBox.appendChild(messageElement);
                        });

                       
                        container.appendChild(infoBox);

                    }
                }
                if (key === 'Issues Found') {
                    var issuesFound = data[key]; 
                    if (issuesFound === 0) {
                        setProgress(100);
                        
                        var infoBox = document.createElement('div');
                        infoBox.classList.add('info-box');

                        
                        var title = document.createElement('div');
                        title.classList.add('info-box-title');
                        title.textContent = 'No issues found';
                        infoBox.appendChild(title);

                        
                        var messageBox = document.createElement('div');
                        messageBox.classList.add('info-box-message');
                        messageBox.textContent = 'Congratulations! We cant find any common fallacies in your password. We still recommend testing the password on other PSM sites to ensure the password is strong enough';
                        infoBox.appendChild(messageBox);

                        
                        var container = document.getElementById('info-box-container');
                        container.appendChild(infoBox);
                        
                        
                        var placeholderBox = document.getElementById('placeholder-box');
                        placeholderBox.style.display = 'none';

                        
                        
                        var infoBoxTitle = document.querySelector('.info-box-title');
                        infoBoxTitle.style.backgroundColor = '#32CD32'; 

                        var infoBoxMessage = document.querySelector('.info-box-message');
                        infoBoxMessage.style.backgroundColor = '#5CCD6F'; 


                    } else if (issuesFound === 1) {
                        setProgress(90);
                    } else if (issuesFound === 2) {
                        setProgress(75);
                    } else if (issuesFound === 3) {
                        setProgress(50);
                    } else if (issuesFound === 4) {
                        setProgress(25);
                    } else if (issuesFound === 5) {
                        setProgress(0);
                    } else {
                        setProgress(0);
                    }
                }
            }
            
            container.style.display = 'block';

            
        }

    </script>
</body>
</html>
